.profileList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 1200px) {
    width: 100%;
    justify-content: center;
  }
}

.pagination {
  &__top {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__bottom {
    height: 100px;
    display: flex;
    justify-content: center;
  }

  &__currentPage {
    margin: 5px 20px 0 20px;
  }

  &__button {
    cursor: pointer;
    height: 40px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      background-color: #000000;
      color: #FFFFFF;
      text-decoration: underline;
    }

    @media all and (max-width:30em){
      display:block;
      margin:0.4em auto;
    }
  }
}

.sorting {
  &__button {
    cursor: pointer;
    height: 40px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      background-color: #000000;
      color: #FFFFFF;
      text-decoration: underline;
    }

    @media all and (max-width:30em){
      display:block;
      margin:0.4em auto;
      }
    }
}
